
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a id="navbar-brand" class="navbar-brand" href="/register">MoneyMap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="flex-grow-1"></div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mx-3 btn" aria-current="page" href="">Home</a>
        </li>
        <li *ngIf="!isAuth" class="nav-item">
          <a  class="nav-link mx-3 btn" href="/register">Register</a>
        </li>
        <li *ngIf="!isAuth" class="nav-item">
          <a  class="nav-link mx-3 btn" href="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="nav-item">
          <a  class="nav-link mx-3 btn" href="/postexpance">Add Ledger</a>
        </li>
        <li *ngIf="isAuth" class="nav-item">
          <a  class="nav-link mx-3 btn" href="/history">History</a>
        </li>
        <li *ngIf="isAuth" class="nav-item">
          <a id="danger" class="mx-3 btn btn-danger" (click)="handleLogOut()">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet />


