<div id="home" class="container-fluid d-flex justify-content-center flex-wrap gap-4 vh-100 my-5">
    <div class="home-div text-center">
        <h2 class="fw-bolder my-3">Total Earnings</h2>
        <p class="fw-bold fs-3">{{data.totalIncome}}</p>
    </div>
    <div class="home-div text-center ">
        <h2 class="fw-bolder my-3">Total Spending</h2>
        <p class="fw-bold fs-3">{{data.totalExpance}}</p>
    </div>
    <div class="home-div text-center ">
        <h2 class="fw-bolder my-3">Balance</h2>
        <p class="fw-bold fs-3">{{data.surplus}}</p>
    </div>
</div>
