*{
    background-color: #F7FCFA;
}

input{
    width: 40rem;
    border: 1px solid #009963;
}

input:hover{
    background-color: #85d0b6;
}

button{
    margin: 3rem;
    width: 12rem;
    padding: 0.5rem;
    border: none;
    background-color: #62e2ae;
}

button:hover{
    background-color: #009963;
}